{{define "title"}}Home{{end}}

{{define "main"}}
  <article>
    {{if .Books}}
    <table>
        <tr>
            <th>Title</th>
            <th>Pages</th>
            <th>Published</th>
        </tr>
        {{range .Books}}
        <tr>
            <td><a href='/book/view?id={{.ID}}'>{{.Title}}</a></td>
            <td>{{.Pages}}</td>
            <td>{{.Published}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
  </article>
{{end}}